<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.oracle.sp.dao.machinemanage.MachineTypeMapper">
    <resultMap id="typeDO" type="com.oracle.sp.domain.MachineTypeDO">
    	<result column="ID" property="id"/>  
        <result column="NAME" property="name"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="PICTURE" property="picture"/>
    </resultMap>
    
	<select id="selectByName" resultMap="typeDO">
		select
			*
		from
			machine_type_tbl
		where
			NAME = #{name}
	</select>
	
	<select id="selectAll" resultMap="typeDO">
		select
			*
		from
			machine_type_tbl
	</select>

	<insert id="insert">
		insert into machine_type_tbl(NAME, DESCRIPTION, PICTURE)
		values (#{name},#{description}, #{picture})
	</insert>
	
	<update id="updateByName">
		update machine_type_tbl set
			NAME = #{name},
			DESCRIPTION = #{description},
			PICTURE = #{picture}
		where
			TYPE_NAME = #{name}
	</update>
	
	<delete id="deleteByName">
		delete from machine_type_tbl
		where
			NAME = #{name}
	</delete>
	
</mapper>