<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.sp.dao.machinemanage.MachineInfoMapper">

	<resultMap id="machineDO" type="com.oracle.sp.domain.MachineInfoDO">
	    <result property="id" column="ID"/>
	    <result property="label" column="LABEL"/>
        <result property="PN" column="PN"/>
        <result property="SN" column="SN"/>
        <result property="spMac" column="SP_MAC"/>
        <result property="spIP" column="SP_IP"/>
        <result property="spTelnetIP" column="SP_TELNET_IP"/>
        <result property="spTelnetPort" column="SP_TELNET_PORT"/>
        <result property="state" column="STATE"/>
        <result property="position" column="POSITION"/>
        <result property="log" column="LOG"/>
	</resultMap>

    <select id="selectByLabel" resultMap="machineDO">
        select
            s.ID,
            s.LABEL,
            s.PN,
            s.SN,
            s.SP_MAC,
            s.SP_IP,
            s.SP_TELNET_IP,
            s.SP_TELNET_PORT,
            s.STATE,
            s.POSITION,
            s.LOG
        from
            machine_info_tbl s
        where
            s.MACHINE_LABEL = #{label}
    </select>

    <select id="selectAll" resultMap="machineDO">
        select
            s.ID,
            s.LABEL,
            s.PN,
            s.SN,
            s.SP_MAC,
            s.SP_IP,
            s.SP_TELNET_IP,
            s.SP_TELNET_PORT,
            s.STATE,
            s.POSITION,
            s.LOG
        from
            machine_info_tbl s
    </select>

    <insert id="insert" useGeneratedKeys="true">
        insert into machine_info_tbl(ID, LABEL,PN,SN,SP_MAC,SP_IP,SP_TELNET_IP,SP_TELNET_PORT,STATE,POSITION,LOG)
        values (#{id}, #{label}, #{PN}, #{SN}, #{spMAC}, #{spIP}, #{spTelnetIP}, #{spTelnetPort}, #{state}, #{position}, #{log})
    </insert>

    <update id="update">
        update machine_info_tbl set
            ID = #{id},
            LABEL = #{label},
            PN = #{PN},
            SN = #{SN},
            SP_MAC = #{spMAC},
            SP_IP = #{spIP},
            SP_TELNET_IP = #{spTelnetIP},
            SP_TELNET_PORT = #{spTelnetPort},
            STATE = #{state},
            POSITION = #{position},
            LOG = #{log}
        where
            MACHINE_LABEL = #{label}
    </update>

    <delete id="deleteByLabel">
        delete from machine_info_tbl
        where
        LABEL = #{label}
    </delete>
</mapper>