<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.oracle.sp.dao.machinemanage.ServerTypeMapper">
    <resultMap id="typeDO" type="com.oracle.sp.domain.ServerTypeDO">
    	<result column="ID" property="id"/>  
        <result column="NAME" property="name"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="PICTURE" property="picture"/>
    </resultMap>
    
	<select id="selectByName" resultMap="typeDO">
		select
			*
		from
			server_type_tbl
		where
			NAME = #{name}
	</select>
	
	<select id="selectAll" resultMap="typeDO">
		select
			*
		from
			server_type_tbl
	</select>

	<insert id="insert" useGeneratedKeys="true">
		insert into server_type_tbl(NAME, URL, DESCRIPTION, PICTURE)
		values (#{serverTypeDO.name},#{serverTypeDO.url},#{serverTypeDO.description}, #{serverTypeDO.picture})
	</insert>
	
	<update id="updateByName">
		update server_type_tbl set
			NAME = #{name},
			URL = #{url},
			DESCRIPTION = #{description},
			PICTURE = #{picture}
		where
			TYPE_NAME = #{name}
	</update>
	
	<delete id="deleteByName">
		delete from server_type_tbl
		where
			NAME = #{name}
	</delete>
	
</mapper>