<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.oracle.sp.dao.security.RolesMapper">

	<resultMap id="role" type="com.oracle.sp.domain.RoleDO">
		<result property="roleName" column="ROLE_NAME"/>
		<result property="roleDesc" column="ROLE_DESC"/>
	</resultMap>

	<select id="getRoleName" resultType="role">
		select
			ROLE_NAME,
			ROLE_DESC
		from
			role_tbl
		where
			ROLE_NAME = #{roleName}
	</select>
	
	<select id="getRoleDesc" resultType="java.lang.String">
		select
			ROLE_DESC
		from
			role_tbl
		where
			ROLE_NAME = #{roleName}
	</select>
</mapper>