<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.sp.dao.security.RoleAuthMapper">

    <resultMap id="roleAuth" type="com.oracle.sp.domain.RoleAuthDO">
        <result property="name" column="AUTH_NAME"/>
        <result property="url" column="AUTH_PARAM"/>
        <result property="role" column="ROLE_NAME"/>
    </resultMap>

    <select id="selectAll" resultMap="roleAuth">
        select
            a.NAME, a.PARAM, r.NAME
        from
            role_tbl r, auth_tbl a, role_auth_tbl ra
        where
            r.NAME = ra.ROLE_NAME and
            a.NAME = ra.AUTH_NAME
    </select>
</mapper>