<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.sp.dao.security.UserInfoMapper">

    <resultMap type="com.oracle.sp.domain.UserInfoDO" id="user">
    	<result column="ID" property="id"/>  
        <result column="NAME" property="name"/>
        <result column="PWD" property="pwd"/>
        <result column="EMAIL" property="email"/>
        <result column="FIRST_LOGIN" property="firstLogin"/>
        <result column="LAST_LOGIN_DATE" property="lastLoginDate"/>
        <result column="STATE" property="state"/>
    </resultMap>

    <select id="selectByName" resultMap="user">
        select
            s.ID,
            s.NAME,
            s.PWD,
            s.EMAIL,
            s.FIRST_LOGIN,
            s.LAST_LOGIN_DATE,
            s.STATE
        from
            user_tbl s
        where
            s.NAME = #{name}
    </select>
    
    <select id="selectByRole" resultMap="user">
        select
            s.ID,
            s.NAME,
            s.PWD,
            s.EMAIL,
            s.FIRST_LOGIN,
            s.LAST_LOGIN_DATE,
            s.STATE
        from
            user_tbl s, user_role_tbl ur
        where
            s.NAME = ur.USER_NAME and
			ur.ROLE_NAME = #{roleName}
    </select>
    
    <select id="selectByGroup" resultMap="user">
        select
            s.ID,
            s.NAME,
            s.PWD,
            s.EMAIL,
            s.FIRST_LOGIN,
            s.LAST_LOGIN_DATE,
            s.STATE
        from
            user_tbl s, user_group_tbl ug
        where
            s.NAME = ug.USER_NAME and
			ug.GROUP_NAME = #{groupName}
    </select>
    
    <select id="selectAll" resultMap="user">
        select
            s.ID,
            s.NAME,
            s.PWD,
            s.EMAIL,
            s.FIRST_LOGIN,
            s.LAST_LOGIN_DATE,
            s.STATE
        from
            user_tbl s
    </select>

    <insert id="insert" useGeneratedKeys="true">
        insert into user_tbl(NAME,PWD,EMAIL,FIRST_LOGIN,LAST_LOGIN_DATE,STATE)
        values (#{userInfoDO.name},#{userInfoDO.pwd},#{userInfoDO.email},#{userInfoDO.firstLogin},#{userInfoDO.lastLoginDate}, #{userInfoDO.state})
    </insert>

    <update id="update">
        update user_tbl set
            NAME = #{userInfoDO.name},
            PWD = #{userInfoDO.pwd},
            EMAIL = #{userInfoDO.email},
            FIRST_LOGIN = #{userInfoDO.firstLogin},
            LAST_LOGIN_DATE = #{userInfoDO.lastLoginDate},
            STATE = #{userInfoDO.state}
        where
            NAME = #{userInfoDO.name}
    </update>

    <delete id="deleteByName">
        delete from user_tbl
        where
        NAME = #{name}
    </delete>  
</mapper>