<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.oracle.sp.dao.security.UserGroupMapper">
	<resultMap id="group" type="com.oracle.sp.domain.GroupDO">
		<result property="groupID" column="GROUP_ID"/>
		<result property="groupName" column="GROUP_NAME"/>
		<result property="groupDesc" column="GROUP_DESC"/>
	</resultMap>
	
	<select id="selectGroups4User" resultMap="group">
		select
			g.GROUP_ID,
			g.GROUP_NAME,
			g.GROUP_DESC
		from
			group_tbl g, user_group_tbl ug
		where
			g.GROUP_NAME = ug.GROUP_NAME and
			ug.USER_NAME = #{userName}
	</select>
	
	<insert id="insert">
		insert into user_group_tbl(USER_NAME,GROUP_NAME)
		values(#{userName},#{groupName})
	</insert>
	
	<delete id="deleteByUserName">
		delete from user_group_tbl
		where USER_NAME = #{userName}
	</delete>
</mapper>