<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.sp.dao.security.UserInfoMapper">

    <resultMap type="com.oracle.sp.domain.UserInfoDO" id="user">
    	<result column="USER_ID" property="userID"/>  
        <result column="USER_NAME" property="userName"/>
        <result column="USER_PASSWORD" property="password"/>
        <result column="EMAIL" property="email"/>
        <result column="USER_FIRST_LOGIN" property="firstLogin"/>
        <result column="USER_LAST_LOGIN_DATE" property="lastLoginDate"/>
        <result column="USER_STATUS" property="status"/>
    </resultMap>

    <select id="selectByName" resultMap="user">
        select
            s.USER_ID,
            s.USER_NAME,
            s.USER_PASSWORD,
            s.EMAIL,
            s.USER_FIRST_LOGIN,
            s.USER_LAST_LOGIN_DATE,
            s.USER_STATUS
        from
            user_tbl s
        where
            s.USER_NAME = #{userName}
    </select>
    
    <select id="selectByRole" resultMap="user">
        select
            s.USER_ID,
            s.USER_NAME,
            s.USER_PASSWORD,
            s.EMAIL,
            s.USER_FIRST_LOGIN,
            s.USER_LAST_LOGIN_DATE,
            s.USER_STATUS
        from
            user_tbl s, user_role_tbl ur
        where
            s.USER_NAME = ur.USER_NAME and
			ur.ROLE_NAME = #{roleName}
    </select>
    
    <select id="selectByGroup" resultMap="user">
        select
            s.USER_ID,
            s.USER_NAME,
            s.USER_PASSWORD,
            s.EMAIL,
            s.USER_FIRST_LOGIN,
            s.USER_LAST_LOGIN_DATE,
            s.USER_STATUS
        from
            user_tbl s, user_group_tbl ug
        where
            s.USER_NAME = ug.USER_NAME and
			ug.GROUP_NAME = #{groupName}
    </select>
    
    <select id="selectAll" resultMap="user">
        select
            s.USER_ID,
            s.USER_NAME,
            s.USER_PASSWORD,
            s.EMAIL,
            s.USER_FIRST_LOGIN,
            s.USER_LAST_LOGIN_DATE,
            s.USER_STATUS
        from
            user_tbl s
    </select>

    <insert id="insert" useGeneratedKeys="true">
        insert into user_tbl(USER_NAME,USER_PASSWORD,EMAIL,USER_FIRST_LOGIN,USER_LAST_LOGIN_DATE,USER_STATUS)
        values (#{userName},#{password},#{email},#{firstLogin},#{lastLoginDate}, #{status})
    </insert>

    <update id="update">
        update user_tbl set
        	USER_ID = #{userID},
            USER_NAME = #{userName},
            USER_PASSWORD = #{password},
            EMAIL = #{email},
            USER_FIRST_LOGIN = #{firstLogin},
            USER_LAST_LOGIN_DATE = #{lastLoginDate},
            USER_STATUS = #{status}
        where
            USER_NAME = #{userName}
    </update>

    <delete id="deleteByName">
        delete from user_tbl
        where
        USER_NAME = #{userName}
    </delete>  
</mapper>