<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sp.sysmanage.dao.RoleAuthMapper">

    <resultMap id="roleAuth" type="com.sp.sysmanage.domain.RoleAuthDO">
        <result property="name" column="a.AUTH_NAME"/>
        <result property="url" column="a.AUTH_PARAM"/>
        <result property="role" column="r.ROLE_NAME"/>
    </resultMap>

    <select id="selectAll" resultMap="roleAuth">
        select
            a.AUTH_NAME, a.AUTH_PARAM, r.ROLE_NAME
        from
            role_tbl r, auth_tbl a, role_auth_tbl ra
        where
            r.ROLE_NAME = ra.ROLE_NAME and
            a.AUTH_NAME = ra.AUTH_NAME
    </select>
</mapper>